@{
    ViewData["Title"] = "Home Page";
}

<div class="owl-item">
  <div class="item">
    <a href="https://nxbkimdong.com.vn/products/combo-truyen-tranh-triet-hoc-cho-tre-em-va-ca-cho-nguoi-lon-2-quyen">
      <img src="//theme.hstatic.net/200000343865/1001052087/14/ms_banner_img4.jpg?v=1513" alt="Truyện tranh triết học" class="product-image">
    </a>
  </div>

  <div class="icon-container">
    <i class="fa-solid fa-ellipsis fa-fade fa-2xl" style="color:#b8b8b8;"></i>
  </div>

  <div class="owl-next">
    <i class="fa-solid fa-angles-right"></i>
  </div>
<div class="owl-prev">
    <i class="fa-solid fa-angles-left"></i>
  </div>
  <div>

  </div>
</div>

<div class="section-title text-center clearfix " style="padding-top: 80px;">
				<h2>
					SÁCH MỚI 
				</h2>
</div>

<div class="product-container">
    <div class="product-item">
        <img src="https://product.hstatic.net/200000343865/product/27_2f6e56906d804820abff19c1112da03e_large.jpg" alt="Lam hỏa diệt quỷ - Tập 27">
        <p>Lam hỏa diệt quỷ - Tập 27</p>
        <p class ="normal-price">25,000₫</p>
    </div>
   <div class="product-item">
        <div class="product-image">
            <img src="https://product.hstatic.net/200000343865/product/5---obi_2cc355f3f1094d259e7dc65bf5d8acfa_large.jpg" alt="Chitose trong chai Ramune - Tập 5">

            <div class="sale-tag">SALE 50%</div>
        </div>
        <div class="product-info">
            <div class="product-title">
                <a>Chitose trong chai Ramune - Tập 5</a>
            </div>
        </div>

        <div class="product-price clearfix">
            <span class="current-price" style="float: left; color:#d51c24">57,500₫</span>
            <span class="original-price" style="float: right ; font-weight: bold;  color:#bebebe"><s>115,000₫</s></span>
        </div>
    </div>
    <div class="product-item">
        <img src="https://product.hstatic.net/200000343865/product/103_8b03a2f691474a01bea7c3b7b7010519_large.jpg" alt="Thám tử lừng danh Conan - Tập 104">
        <p>Thám tử lừng danh Conan - Tập 104</p>
        <p class ="normal-price">25,000₫</p>
    </div>
    <div class="product-item">
        <img src="https://product.hstatic.net/200000343865/product/14_248125031fc641f1b8567c313fdaa3c2_large.jpg" alt="Product 3">
        <div style="float:b;">
        <p>Tý Quậy tập 14</p>
        <p class ="normal-price">10.000₫</p>
        </div>
    </div>
   <div class="product-item">
        <div class="product-image">
            <img src="https://product.hstatic.net/200000343865/product/tuoi-tho-du-doi-t1_ad11ae5e364d4fd1a3e563754f8df81d_42b5d030cfdd4f06bd7c68650fd113cb_large.jpg" alt="Tuổi thơ dữ dội">
            
            <div class="sale-tag">SALE 30%</div>
        </div>
        <div class="product-info">
            <div class="product-title">
                <a>Tuổi thơ dữ dội tập 1</a>
            </div>
        </div>

        <div class="product-price clearfix">
            <span class="current-price" style="float: left; color:#d51c24">22,500₫</span>
            <span class="original-price" style="float: right; color:#bebebe  ;font-weight: bold; "><s>25,000₫</s></span>
        </div>
    </div>
</div>

<div class="nextbtn1">
    <button onclick="nextProducts()">
        <i class="fa-solid fa-angle-right" style="border: none;"></i>
    </button>
</div>

<div class="banner_home_pro">
	<a href="https://nxbkimdong.com.vn/collections/manga/">
		<img src="//theme.hstatic.net/200000343865/1001052087/14/banner_home_pro_4.jpg?v=1513">
	</a>
</div>

<div class="section-title text-center clearfix " style="padding-top: 80px;">
				<h2>
					MANGA - COMIC 
				</h2>
</div>
<div class="product-container">
    <div class="product-item">
        <img src="https://product.hstatic.net/200000343865/product/105_f0b0044c4edd4209b6c31f85608de3d4_large.jpg" alt="Đảo hải tặc - Tập 105">
        <p>Đảo hải tặc - Tập 105</p>
        <p class ="normal-price">20,000₫</p>
    </div>
   <div class="product-item">
        <div class="product-image">
            <img src="https://product.hstatic.net/200000343865/product/10_7066821e206646f0bc675c6eb9ba82b5_large.jpg" alt="Chitose trong chai Ramune - Tập 10">

            <div class="sale-tag">SALE 10%</div>
        </div>
        <div class="product-info">
            <div class="product-title">
                <a>7 viên ngọc rồng nhí - Tập 10</a>
            </div>
        </div>

        <div class="product-price clearfix">
            <span class="current-price" style="float: left; color:#d51c24">67,500₫</span>
            <span class="original-price" style="float: right ; font-weight: bold;  color:#bebebe"><s>75,000₫</s></span>
        </div>
    </div>
     <div class="product-item">
        <div class="product-image">
            <img src="https://product.hstatic.net/200000343865/product/33_2ed45d618592435b977651828b576183_797c268708fd4a8e976b8fac665cf44e_large.jpg" alt="Học viện siêu anh hùng - Tập 33">
            
            <div class="sale-tag">SALE 10%</div>
        </div>
        <div class="product-info">
            <div class="product-title">
                <a>Học viện siêu anh hùng - Tập 33</a>
            </div>
        </div>

        <div class="product-price clearfix">
            <span class="current-price" style="float: left; color:#d51c24">22,500₫</span>
            <span class="original-price" style="float: right; color:#bebebe  ;font-weight: bold; "><s>25,000₫</s></span>
        </div>
    </div>
      <div class="product-item">
        <div class="product-image">
            <img src="https://product.hstatic.net/200000343865/product/105_f0b0044c4edd4209b6c31f85608de3d4_master.jpg" alt="Đảo hải tặc - Tập 105">
            
            <div class="sale-tag">SALE 10%</div>
        </div>
        <div class="product-info">
            <div class="product-title">
                <a>Đảo hải tặc - Tập 105</a>
            </div>
        </div>

        <div class="product-price clearfix">
            <span class="current-price" style="float: left; color:#d51c24">19,800</span>
            <span class="original-price" style="float: right; color:#bebebe  ;font-weight: bold; "><s>22,000₫</s></span>
        </div>
    </div>
   <div class="product-item">
        <div class="product-image">
            <img src="https://product.hstatic.net/200000343865/product/35_14_2fc4960a0f6b44328fdce6db923c1f8f_large.jpg" alt="Pokémon đặc biệt - Tập 35">
            
            <div class="sale-tag">SALE 80%</div>
        </div>
        <div class="product-info">
            <div class="product-title">
                <a>Pokémon đặc biệt - Tập 35</a>
            </div>
        </div>

        <div class="product-price clearfix">
            <span class="current-price" style="float: left; color:#d51c24">5,000₫</span>
            <span class="original-price" style="float: right; color:#bebebe  ;font-weight: bold; "><s>25,000₫</s></span>
        </div>
    </div>
</div>
<div class="product-container">
    <div class="product-item">
        <img src="https://product.hstatic.net/200000343865/product/6_86352da929a946199f97a8c0ee229879_large.jpg" alt="Dr. Stone - Tập 6">
        <p>Dr. Stone - Tập 6</p>
        <p class ="normal-price">22,000₫</p>
    </div>
   <div class="product-item">
        <div class="product-image">
            <img src="https://product.hstatic.net/200000343865/product/8_cac202f18cfc451ca75a17270afa88ac_large.jpg" alt="Chú Thuật Hồi Chiến - Tập 8">

            <div class="sale-tag">SALE 10%</div>
        </div>
        <div class="product-info">
            <div class="product-title">
                <a>Chú Thuật Hồi Chiến - Tập 8</a>
            </div>
        </div>

        <div class="product-price clearfix">
            <span class="current-price" style="float: left; color:#d51c24">27,000₫</span>
            <span class="original-price" style="float: right ; font-weight: bold;  color:#bebebe"><s>30,000₫</s></span>
        </div>
    </div>
     <div class="product-item">
        <div class="product-image">
            <img src="https://product.hstatic.net/200000343865/product/104_caee312cad754c29914beccd5fba537e_large.jpg" alt="One piece - Tập 104">
            
            <div class="sale-tag">SALE 10%</div>
        </div>
        <div class="product-info">
            <div class="product-title">
                <a>One piece - Tập 104</a>
            </div>
        </div>

        <div class="product-price clearfix">
            <span class="current-price" style="float: left; color:#d51c24">19,800₫</span>
            <span class="original-price" style="float: right; color:#bebebe  ;font-weight: bold; "><s>22,000₫</s></span>
        </div>
    </div>
      <div class="product-item">
        <div class="product-image">
            <img src="https://product.hstatic.net/200000343865/product/97_ee8919913600404db33202c4f24bf758_0daec79b3e184e6f861652449f466a0e_large.jpg" alt="One Piece - Tập 97 (bìa rời)">
            
            <div class="sale-tag">SALE 10%</div>
        </div>
        <div class="product-info">
            <div class="product-title">
                <a>One Piece - Tập 97 (bìa rời)</a>
            </div>
        </div>

        <div class="product-price clearfix">
            <span class="current-price" style="float: left; color:#d51c24">19,800</span>
            <span class="original-price" style="float: right; color:#bebebe  ;font-weight: bold; "><s>22,000₫</s></span>
        </div>
    </div>
   <div class="product-item">
        <div class="product-image">
            <img src="https://product.hstatic.net/200000343865/product/10_be0c21de07d04c24883eab5dbdc82edf_large.jpg" alt="Spy x Family - Tập 10 (Tặng Kèm Standee)">
            
            <div class="sale-tag">SALE 80%</div>
        </div>
        <div class="product-info">
            <div class="product-title">
                <a>Spy x Family - Tập 10 (Tặng Kèm Standee)</a>
            </div>
        </div>

        <div class="product-price clearfix">
            <span class="current-price" style="float: left; color:#d51c24">5,000₫</span>
            <span class="original-price" style="float: right; color:#bebebe  ;font-weight: bold; "><s>25,000₫</s></span>
        </div>
    </div>
</div>
<div class="banner_home_pro">
	<a href="">
		<img src="https://theme.hstatic.net/200000343865/1001052087/14/banner_home_pro_5.jpg?v=1513">
	</a>
</div>
<div class="section-title text-center clearfix " style="padding-top: 80px;">
				<h2>
					DORAEMON
				</h2>
</div>
<div class="product-container">
   <div class="product-item">
        <div class="product-image">
            <img src="https://product.hstatic.net/200000343865/product/doraemon-movie-story-mau_tan-nobita-va-nuoc-nhat-thoi-nguyen-thuy_bia_fe90384047734857b6955a8c97b65d06_large.jpg" alt="Doraemon Movie Story màu - Tân Nobita và n...">

            <div class="sale-tag">SALE 10%</div>
        </div>
        <div class="product-info">
            <div class="product-title">
                <a>Doraemon Movie Story màu - Tân Nobita và n...</a>
            </div>
        </div>

        <div class="product-price clearfix">
            <span class="current-price" style="float: left; color:#d51c24">31,500₫</span>
            <span class="original-price" style="float: right ; font-weight: bold;  color:#bebebe"><s>35,000₫</s></span>
        </div>
    </div>
   <div class="product-item">
        <div class="product-image">
            <img src="https://product.hstatic.net/200000343865/product/-movie-story-mau_nobita-va-hon-dao-dieu-ki_cuoc-phieu-luu-cua-loai-thu_f9724ac0845d4d5da56999fb23af1a90_large.jpg" alt="Doraemon Movie Story Màu - Nobita và hòn đảo diệu kì - Cuộc phiêu lưu của loài thú">

            <div class="sale-tag">SALE 10%</div>
        </div>
        <div class="product-info">
            <div class="product-title">
                <a>Doraemon Movie Story Màu - Nobita và hòn đảo diệu kì - Cuộc phiêu lưu của loài thú</a>
            </div>
        </div>

        <div class="product-price clearfix">
            <span class="current-price" style="float: left; color:#d51c24">31,500₫</span>
            <span class="original-price" style="float: right ; font-weight: bold;  color:#bebebe"><s>35,000₫</s></span>
        </div>
    </div>
    <div class="product-item">
        <div class="product-image">
            <img src="https://product.hstatic.net/200000343865/product/doraemon-movie-story-mau_nobita-va-ban-giao-huong-dia-cau_bia_cde561daa79b48b0a86ffa0050d71fd4_large.jpg" alt="Doraemon Movie Story màu - Nobita và bản giao hưởng Địa Cầu">

            <div class="sale-tag">SALE 10%</div>
        </div>
        <div class="product-info">
            <div class="product-title">
                <a>Doraemon Movie Story màu - Nobita và bản giao hưởng Địa Cầu</a>
            </div>
        </div>

        <div class="product-price clearfix">
            <span class="current-price" style="float: left; color:#d51c24">31,500₫</span>
            <span class="original-price" style="float: right ; font-weight: bold;  color:#bebebe"><s>35,000₫</s></span>
        </div>
    </div>
      <div class="product-item">
        <div class="product-image">
            <img src="https://product.hstatic.net/200000343865/product/boxset-doraemon-_1---4_3160e935acc4401bb76b32efd440f9e7_large.jpg" alt="Doraemon BoxSet 1-4">
            
            <div class="sale-tag">SALE 10%</div>
        </div>
        <div class="product-info">
            <div class="product-title">
                <a>Doraemon BoxSet 1-4</a>
            </div>
        </div>

        <div class="product-price clearfix">
            <span class="current-price" style="float: left; color:#d51c24">810,800</span>
            <span class="original-price" style="float: right; color:#bebebe  ;font-weight: bold; "><s>900,000₫</s></span>
        </div>
    </div>
   <div class="product-item">
        <div class="product-image">
            <img src="https://product.hstatic.net/200000343865/product/-thu_b8dd2b5436a14af591c39277ac818a1d_42cb5b46b48c46e5ba00b97810fdf0dd_d42d2450bafe4292a09ec9e8abb55b50_large.jpg" alt="Doraemon Movie Story - Nobita và hòn đảo diệu kì - Cuộc phiêu lưu của loài thú">
            
            <div class="sale-tag">SALE 10%</div>
        </div>
        <div class="product-info">
            <div class="product-title">
                <a>Doraemon Movie Story - Nobita và hòn đảo diệu kì - Cuộc phiêu lưu của loài thú</a>
            </div>
        </div>

        <div class="product-price clearfix">
            <span class="current-price" style="float: left; color:#d51c24">27,000₫</span>
            <span class="original-price" style="float: right; color:#bebebe  ;font-weight: bold; "><s>30,000₫</s></span>
        </div>
    </div>
</div>
<div class="section-title text-center clearfix " style="padding-top: 80px;">
				<h2>
					Sắp ra mắt
				</h2>
</div>
<div class="product-container">


    <div class="product-item">
        <div class="tag-soldout text-center">
            Sắp ra mắt
        </div>
        <img src="https://product.hstatic.net/200000343865/product/2_4d0812225c1a48ee93191e062cbb0318_large.jpg" alt="Vườn thú Omagadoki - Tập 2">
        <p>Vườn thú Omagadoki - Tập 2</p>
        <p class="normal-price">35,000₫</p>
    </div>


    <div class="product-item">
      
        <div class="tag-soldout text-center">
            Sắp ra mắt
        </div>
        
        <img src="https://product.hstatic.net/200000343865/product/2_1_d0e68cb8758d451ebc5c5d76b05dd62d_large.jpg" alt="Thần thoại Ai Cập - Tập 2 - Chiến tranh giữa các vị thần">
        <p>Thần thoại Ai Cập - Tập 2 - Chiến tranh giữa các vị thần</p>
        <p class="normal-price">50,000₫</p>
    </div>

    <div class="product-item">
     
        <div class="tag-soldout text-center">
            Sắp ra mắt
        </div>
        
        <img src="https://product.hstatic.net/200000343865/product/4_58015c642b62422481a87c91f68f3ac7_large.jpg" alt="Xóm om xòm - Tập 4 - Hũ kem màu nhiệm">
        <p>Xóm om xòm - Tập 4 - Hũ kem màu nhiệm</p>
        <p class="normal-price">45,000₫</p>
    </div>
     <div class="product-item">
     
        <div class="tag-soldout text-center">
            Sắp ra mắt
        </div>
        
        <img src="https://product.hstatic.net/200000343865/product/39_bdedfad322104282bbc454b9cd3c4218_large.jpg" alt="Ninja Rantaro - Tập 39">
        <p>Ninja Rantaro - Tập 39</p>
        <p class="normal-price">36,900₫</p>
    </div>
     <div class="product-item">
     
        <div class="tag-soldout text-center">
            Sắp ra mắt
        </div>
        
        <img src="https://product.hstatic.net/200000343865/product/linh-nam-trich-quai_bia-tb2019_a19c0da062854e67b316001601f638cd_a111a47103f54208afac099a3d2fca9e_large.jpg" alt="Lĩnh Nam chích quái">
        <p>Lĩnh Nam chích quái</p>
        <p class="normal-price">245,000₫</p>
    </div>
</div>


<style>

.product-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);  
    gap: 20px; 
    padding: 20px;
}

.product-item {
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px #333333;
}

.product-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-item p {
    margin: 5px 0;
}
.nextbtn1 {
    position: absolute;
    top: 980px;
    right: 120px;
}
.product-image {
    position: relative; 
}

.sale-tag {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%; 
    width: 40px; 
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1; 
}
.current-price {
    font-weight: bold; 
    color: #d51c24; 
}
.normal-price  {
    font-weight: bold; 
    color: #000; 
}
.product-image {
            
    width: 100%;       
}
.owl-item {
  position: relative; 
   text-align: center;
}
.icon-container {
  margin-top: 10px; 
  text-align: center; 
}
.icon-container i {
  font-size: 4rem; 
}


.owl-next,
.owl-prev {
  position: absolute;
  top: 50%;          
  transform: translateY(-50%); 
  background-color: rgba(0, 0, 0, 0.5); 
  color: white;      
  padding: 10px;
  border-radius: 50%; 
  cursor: pointer;   
  z-index: 10;       
}

.owl-next i,
.owl-prev i {
  font-size: 24px;   
}


.owl-next {
  right: 0;        
}


.owl-prev {
  left: 0;           
}
.banner_home_pro img {
  width: 100%;  
  height: auto; 
}
.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
}

.product-item {
  position: relative; 
  width: 200px; 
}

.tag-soldout {
  position: absolute;
  top: 10px; 
  left: 10px; 
  background-color: #000; 
  color: white; */
  padding: 5px 15px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px; 
  z-index: 10; 
}

.product-item img {
  width: 100%; 
  height: auto;
}


</style>